<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <servlet>
    <description>A servlet to fetch resources from the web on behalf of vectomatic.org webapps to accomodate same-origin restrictions</description>
    <display-name>FetchServlet</display-name>
    <servlet-name>FetchServlet</servlet-name>
    <servlet-class>org.vectomatic.svg.edit.server.FetchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchServlet</servlet-name>
    <url-pattern>/fetch</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>svgreal.html</welcome-file>
  </welcome-file-list>
</web-app>